.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.item1{
     border: 2px solid grey;
     box-shadow: 2px 0 1px grey;
   
}


.container1{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
   
}

.item2{
    border: 2px solid grey;
    box-shadow: 2px 0 1px grey;
   
}